body {
    background-color: #111827;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

textarea {
    width: 100%;
    height: 220px;
    background-color: #1f2937;
    color: white;
    border: 1px solid #374151;
    padding: 10px;
    font-family: Consolas;
    font-size: 14px;
}

.buttons {
    margin-top: 15px;
}

button {
    background-color: #38bdf8;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0ea5e9;
}

.output {
    margin-top: 25px;
    background-color: #1f2937;
    padding: 15px;
    border-radius: 8px;
}

pre {
    color: white;
}

